.APP{
    height: 100vh;
    position: relative;
}
.navbar{
    position: fixed !important;
    top: 0;
    left: 0;
    height: 100vh;
    background: #fff;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
    z-index: 3 !important;
    overflow: hidden;
}
.navitem{
    text-decoration: none;
    color: #5F6165;
    background: #fff;
}
.bg-color1{
    background-color: #F5F4F6 !important;
}
.navitem h6 {
    text-align: start;
}
.navitem:hover{
    background-color: #F3F5F8;
    border-radius: 10px;
    color: #000;
}
.navitem:active{
    background-color: #F3F5F8;
    border-radius: 10px;
    color: #000;
}
.nav_item_down{
    position: absolute;
    bottom: 0;
    left: 0;
}
.topnavbar{
    position: absolute;
    top: 0;
    right: 0 !important;
    width: 100%;
    height: fit-content;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 2!important;
}
.app_body{
    position: absolute !important;
    top: 0;
    right: 0;
}
.search-container {
    position: relative;
}

.search-container input::placeholder {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    text-align: left;
    content: "\f002";
    color: gray;
}
.shadow_box{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.038);
}
.car_card_img{
    height: 40%;
}
.bg-color2{
    background-color: #caa5fd !important;
}