.APP{
    height: 100vh;
    position: relative;
}
.navbar{
    position: fixed !important;
    top: 0;
    left: 0;
    height: 100vh;
    background: #fff;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
    z-index: 3 !important;
    overflow: hidden;
}
.navitem{
    text-decoration: none;
    color: #5F6165;
    background: #fff;
}
.bg-color1{
    background-color: #F5F4F6 !important;
}
.navitem h6 {
    text-align: start;
}
.navitem:hover{
    background-color: #F3F5F8;
    border-radius: 10px;
    color: #000;
}
.navitem:active{
    background-color: #F3F5F8;
    border-radius: 10px;
    color: #000;
}
.nav_item_down{
    position: absolute;
    bottom: 0;
    left: 0;
}
.topnavbar{
    position: absolute;
    top: 0;
    right: 0 !important;
    width: 100%;
    height: fit-content;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 2!important;
}
.app_body{
    position: absolute !important;
    top: 0;
    right: 0;
    min-height: 100vh;
}
.search-container {
    position: relative;
}

.search-container input::placeholder {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    text-align: left;
    content: "\f002";
    color: gray;
}
.shadow_box{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.038);
}
.car_card_img{
    height: 40%;
}
.bg-color2{
    background-color: #caa5fd !important;
}
.loading_tap{
    padding-top: 20vh !important;
}
.moving_button{
    height: fit-content !important;
    width: 700px !important;
    position: absolute;
    top: 2px;
    left:350px ;
    transition: left 5s;
}
.moving_button_after_click {
    height: fit-content !important;
    width: 750px !important;
    position: absolute;
    top: 2px;
    left: -450px;
    transition: left 5s;
}
.moving_car{
    position: absolute;
    
}
.car_body{
    position: absolute;
    height: 35px;
    top: -4px;
    left: 100px;
    transition: left 3s;
    transition-delay: 1s;
    transition-timing-function: ease;
}
.car_body_after_click{
    position: absolute;
    height: 35px;
    top: -4px;
    left: 500px;
    transition: left 3s;
    transition-delay: 1s;
    transition-timing-function: ease;
}
.moving_car_container{
    position: relative;
}
.button_moving_action{
    overflow: hidden;
    position: relative;
}
.done_img{
    height: fit-content;
}